<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>내 정보</title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.10.2/dist/full.min.css" rel="stylesheet" type="text/css"/>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://kit.fontawesome.com/82aeaf01ca.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.5.0/sockjs.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.css"
          integrity="sha512-3pIirOrwegjM6erE5gPSwkUzO+3cTjpnV9lexlNZqvupR64iZBnOOTiiLPb9M36zpMScbmUNIcHUqKD47M719g=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"
            integrity="sha512-VEd+nq25CkR676O+pLBnDW09R7VQX9Mdiij052gVCp5yVH3jGtH70Ho/UUv4mJDsEdTvqRCFZg0NKGiojGnUCw=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!--  네비게이션바 상단 고정  -->
    <style>
        /* navbar를 상단에 고정시키는 CSS */
        .navbar-container {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            z-index: 9999;
        }
    </style>
</head>
<div>
    <nav th:replace="~{./navbar/navbar :: navbarFragment}"></nav>
</div>
<header class="flex justify-center items-center mt-10">
    <div style="margin-right: 50px;">
        <img class="mask mask-circle w-48 h-48"
             th:src="${profileUser.profileUrl != null ? profileUser.profileUrl : '/Default/User.jpg'}"/>
    </div>
    <div class="inline-flex">
        <div style="margin-left: 40px;">
            <label class="flex items-center gap-2">
                <span class="font-semibold">이름 :</span>
                <span th:text="${profileUser.name}"></span>
            </label>
            <label class="flex items-center gap-2">
                <span class="font-semibold">이메일 :</span>
                <span th:text="${profileUser.email}"></span>
            </label>
            <label class="flex items-center gap-2">
                <span class="font-semibold">닉네임 :</span>
                <span th:text="${profileUser.nickName}"></span>
            </label>
            <a th:href="@{|/user/talk/${id}|}" class="flex w-[230px] justify-end mt-[10px]">
                <button class="btn btn-outline btn-primary w-[110px] h-[20px]" type="submit" sec:authorize="isAuthenticated()" th:if="${siteUser.nickName != profileUser.nickName}">메세지</button>
            </a>
        </div>
    </div>
</header>
<body>
<!-- 해당 유저의 게시물 이미지 등록후 구현 -->
<div class="dropdown dropdown-bottom flex justify-center">
    <div class="flex justify-between w-2/6 items-center h-[100px]">
        <div role="button">
            <i class="fa-regular fa-images">
                <a th:href="@{|/user/${profileUser.id}/profile?action=myList|}">게시물</a>
            </i>
        </div>
        <div role="button">
            <i class="fa-regular fa-heart">
                <a th:href="@{|/user/${profileUser.id}/profile?action=likes|}">좋아요</a>
            </i>
        </div>
        <div role="button">
            <i class="fa-solid fa-user">
                <a class="">태그됨</a>
            </i>
        </div>
    </div>
</div>
<div class="flex justify-center">
    <div class="flex justify-start w-3/6 flex-wrap mb-[200px]" style="border-top: 1px solid #ccc;">
        <div th:each="list : ${listMain}" class="flex justify-start border border-gray-300 w-[250px] h-[250px] mt-[20px] ml-[50px]">
            <a th:href="@{|/home/detail/${list.id}|}" class="w-full h-full">
                <img th:src="${list.listUrl}" class="w-full h-full">
            </a>
        </div>
    </div>
</div>
</body>
</html>