<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>내 정보</title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.10.2/dist/full.min.css" rel="stylesheet" type="text/css"/>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://kit.fontawesome.com/82aeaf01ca.js" crossorigin="anonymous"></script>
    <!--  네비게이션바 상단 고정  -->
    <style>
        /* navbar를 상단에 고정시키는 CSS */
        .navbar-container {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            z-index: 9999;
        }
    </style>
</head>
<div>
    <nav th:replace="~{./navbar/navbar :: navbarFragment}"></nav>
</div>
<header class="flex justify-center items-center mt-10">
    <div style="margin-right: 50px;" class="flex justify-center flex-col items-center gap-3">
        <img class="mask mask-circle w-48 h-48"
             th:src="${temp_profile != null ? temp_profile : '/Default/User.jpg'}" id="temp_profile"/>
        <!--        <img class="mask mask-circle w-48 h-48"-->
        <!--             th:src="/logo/user.jpg" th:if="${temp_profile == null}"/>-->
        <form th:action="@{/profileImage/temp}" class="flex items-center flex-col gap-3" method="post"
              enctype="multipart/form-data">
            <input type="file" name="file" class="file-input w-2/3 max-w-xs h-8 border border-gray-400">
            <button class="btn btn-outline btn-primary w-2/3" type="submit">이미지 저장</button>
        </form>
    </div>
    <div class="inline-flex">
        <form th:action="@{/user/update}" method="post">
            <div style="margin-left: 40px;">

                <input type="hidden" id="error" th:if="${error!=null}" th:value="${error}">
                <label class="input input-bordered flex items-center gap-2">
                    이름 :
                    <input type="text" class="grow" id="nameInput" th:value="${siteUser.name}" name="name"/>
                </label>
                <label class="input input-bordered flex items-center gap-2">
                    이메일 :
                    <input type="text" class="grow" id="emailInput" readonly th:value="${siteUser.email}" name="email"/>
                </label>
                <label class="input input-bordered flex items-center gap-2">
                    닉네임 :
                    <input type="text" class="grow" id="nickNameInput" th:value="${siteUser.nickName}" name="nickName"/>
                </label>
                <label class="input input-bordered flex items-center gap-2">
                    휴대폰번호 :
                    <input type="text" class="grow" id="numberInput" th:value="${siteUser.number}" name="number"/>
                </label>
                <button class="btn btn-outline btn-primary" type="submit">변경</button>
            </div>
        </form>
        <form th:action="@{/user/updatePw}" method="post">
            <label class="input input-bordered flex items-center gap-2">
                비밀번호 :
                <input type="password" class="grow" id="passwordInput" name="password"/>
            </label>
            <label class="input input-bordered flex items-center gap-2">
                새 비밀번호 :
                <input type="password" class="grow" id="newPasswordInput1" name="newPassword1"/>
            </label>
            <label class="input input-bordered flex items-center gap-2">
                새 비밀번호 확인 :
                <input type="password" class="grow" id="newPasswordInput2" name="newPassword2"/>
            </label>
            <br>
            <br>
            <button class="btn btn-outline btn-primary" type="submit">비밀번호 변경</button>

        </form>
    </div>
    <script th:inline="javascript">
        const error =document.getElementById('error');
        alert(error.value);
    </script>
</header>
<body>
<div class="flex flex-row justify-center">
    <div class="dropdown dropdown-bottom">
        <div tabindex="0" role="button" class="flex w-20 mr-20 items-center btn h-[100px]">
            <i class="fa-solid fa-bars text-lg">
                <ul tabindex="0" class="dropdown-content z-[1] menu p-2 shadow bg-base-300 rounded-box w-28">
                    <a th:href="@{/home/createList}">게시물 등록하기</a>
                </ul>
            </i>
        </div>
    </div>
    <div class="flex justify-between w-2/6 items-center h-[100px]">
        <div role="button">
            <i class="fa-regular fa-images">
                <a th:href="@{/user/profile(action='myList')}">게시물</a>
            </i>
        </div>
        <div role="button">
            <i class="fa-regular fa-heart">
                <a th:href="@{/user/profile(action='likes')}">좋아요</a>
            </i>
        </div>
        <div role="button">
            <i class="fa-solid fa-user">
                <a class="">태그됨</a>
            </i>
        </div>
    </div>
    <div class="flex w-40 items-center h-[100px]"></div>
</div>
<!-- 해당 유저의 게시물 이미지 등록후 구현 -->
<div class="flex justify-center">
    <div class="flex justify-start w-3/6 flex-wrap mb-[200px]" style="border-top: 1px solid #ccc;">
        <div th:each="list : ${listMain}"
             class="flex justify-start border border-gray-300 w-[250px] h-[250px] mt-[20px] ml-[50px]">
            <a th:href="@{|/home/detail/${list.id}|}" class="w-full h-full">
                <img th:src="${list.listUrl}" class="w-full h-full">
            </a>
        </div>
    </div>
</div>
</body>
</html>