<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>내 정보</title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.10.2/dist/full.min.css" rel="stylesheet" type="text/css"/>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<div>
    <nav th:replace="~{./navbar/navbar :: navbarFragment}"></nav>
</div>
<header class="flex justify-center items-center mt-10">
    <div style="margin-right: 50px;">
        <img class="mask mask-circle w-48 h-48"
             src="https://daisyui.com/images/stock/photo-1567653418876-5bb0e566e1c2.jpg"/>
        <input type="file" class="file-input w-full max-w-xs h-10">
    </div>
    <div class="inline-flex">
        <form th:action="@{/user/update}" method="post">
            <div style="margin-left: 40px;">

                <input type="hidden" id="error" th:if="${error!=null}" th:value="${error}">
                <label class="input input-bordered flex items-center gap-2">
                    이름 :
                    <input type="text" class="grow" id="nameInput" th:value="${siteUser.name}" name="name"/>
                </label>
                <label class="input input-bordered flex items-center gap-2">
                    이메일 :
                    <input type="text" class="grow" id="emailInput" readonly th:value="${siteUser.email}" name="email"/>
                </label>
                <label class="input input-bordered flex items-center gap-2">
                    닉네임 :
                    <input type="text" class="grow" id="nickNameInput" th:value="${siteUser.nickName}" name="nickName"/>
                </label>
                <label class="input input-bordered flex items-center gap-2">
                    휴대폰번호 :
                    <input type="text" class="grow" id="numberInput" th:value="${siteUser.number}" name="number"/>
                </label>
                <button class="btn btn-outline btn-primary">변경</button>
            </div>
        </form>
        <form th:action="@{/user/updatePw}" method="post">
            <label class="input input-bordered flex items-center gap-2">
                비밀번호 :
                <input type="password" class="grow" id="passwordInput" name="password"/>
            </label>
            <label class="input input-bordered flex items-center gap-2">
                새 비밀번호 :
                <input type="password" class="grow" id="newPasswordInput1" name="newPassword1"/>
            </label>
            <label class="input input-bordered flex items-center gap-2">
                새 비밀번호 확인 :
                <input type="password" class="grow" id="newPasswordInput2" name="newPassword2"/>
            </label>
            <br>
            <button class="btn btn-outline btn-primary">비밀번호 변경</button>

        </form>
    </div>
    <!--    <div class="flex justify-end">-->
    <!--        <a th:href="@{/user/updatePw}" role="button" class="button-Pw">비밀번호 변경</a>-->
    <!--    </div>-->
</header>
<script th:inline="javascript">
    const error =document.getElementById('error');
    alert(error.value);
</script>
<body>
<div>
    <div class="stats stats-vertical lg:stats-horizontal shadow">

        <div class="stat">
            <div class="stat-title">Downloads</div>
            <div class="stat-value">31K</div>
            <div class="stat-desc">Jan 1st - Feb 1st</div>
        </div>

        <div class="stat">
            <div class="stat-title">New Users</div>
            <div class="stat-value">4,200</div>
            <div class="stat-desc">↗︎ 400 (22%)</div>
        </div>

        <div class="stat">
            <div class="stat-title">New Registers</div>
            <div class="stat-value">1,200</div>
            <div class="stat-desc">↘︎ 90 (14%)</div>
        </div>

    </div>
</div>
</body>
</html>