<html lang="en">
<head>
    <title>게시물 등록</title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.10.2/dist/full.min.css" rel="stylesheet" type="text/css"/>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://kit.fontawesome.com/82aeaf01ca.js" crossorigin="anonymous"></script>
    <!--  네비게이션바 상단 고정  -->
    <style>
        /* navbar를 상단에 고정시키는 CSS */
        .navbar-container {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            z-index: 9999;
        }
    </style>
</head>
<div>
    <nav th:replace="~{./navbar/navbar :: navbarFragment}"></nav>
</div>
<body>
<div>
    <form id="image_form" th:action="@{/image/temp}" method="post" enctype="multipart/form-data"
          onsubmit="return validateForm()">
        <input type="hidden" id="temp_text" name="temp_text"/>
        <!--   수정과 생성의 Url 변환    -->
        <input type="hidden" name="destination" th:value="${destination}"/>
        <div class="flex justify-center items-center mt-10">
            <div class="flex justify-end w-3/6 items-center h-[50px]"
                 style="border: 1px solid #ccc; border-radius: 10px;">
                <div class="flex items-center justify-center mr-96 text-xl font-bold">게시물</div>
                <input type="file" id="file-upload" name="file" class="file-input w-full max-w-xs h-10"
                       style="display: none;">
                <!--                <input type="hidden" name="temp" th:value="${temp}">-->
                <button type="submit" onclick="openFileUpload()" class="flex items-center justify-start mr-4">
                    <i class="fa-solid fa-image"></i>
                    <span class="ml-2">사진</span>
                </button>
            </div>
        </div>
        <div id="parent" class="flex justify-center items-center mt-2" style="height: auto;">
            <div id="child" class="flex justify-center w-3/6 h-[500px] items-center border border-gray-300 rounded-lg">
                <img class="flex w-full h-[500px]" id="temp" th:src="${temp}" th:if="${temp != null}">
                <i class="flex fa-solid fa-image w-[200px] h-[200px] justify-center items-center flex-col"
                   th:if="${temp == null}">사진 없음</i>
                <!--                <img class="flex w-full h-[500px]" id="DefaultTemp" th:src="${DefaultTemp}">-->
            </div>
        </div>
    </form>
    <form th:action="@{|/home/${destination}|}" method="post">
        <div class="flex justify-center items-center mt-2">
            <div class="flex justify-center items-center w-3/6 h-[200px] border border-gray-300 rounded-lg">
                <textarea id="text" th:field="${listForm.content}" class="w-full h-full"
                          placeholder="빈 상자일 때 내용을 입력하세요."
                          style="resize: vertical;"></textarea>
            </div>
        </div>
        <div class="flex justify-center items-center">
            <div id="errorMessage" class="error-message text-red-500 flex"></div>
            <div class="flex justify-end items-end mt-2 w-3/6 gap-3">
                <a th:href="@{/image/delete}">
                    <button class="btn btn-outline btn-primary" type="button">등록 취소</button>
                </a>
                <button class="btn btn-outline btn-primary" type="submit">게시글 등록</button>
            </div>
        </div>
    </form>
</div>
</body>
<script th:inline="javascript">
    function openFileUpload() {
        // 파일 업로드 창 열기
        document.getElementById('file-upload').click();
    }

    document.getElementById('file-upload').addEventListener('change', function(){
            const image_form = document.getElementById('image_form');
            document.getElementById('temp_text').value = document.getElementById('text').value;
            //alert([[${destination}]]);
            image_form.submit();
    });
    const listImages = document.getElementById('listImages');
    listImages.addEventListener('click',function(){
         document.getElementById('file-upload').click();
    });
    window.onload = function() {
        var parent = document.getElementById('parent');
        var child = document.getElementById('child');
        var image = document.getElementById('image');

        // 이미지 로드 후 부모 요소의 크기를 자식 요소인 이미지의 크기로 조절
        image.onload = function() {
            parent.style.height = child.offsetHeight + 'px';
        }
    }
    function validateForm() {
    var fileInput = document.getElementById('file-upload');
    var errorMessageElement = document.getElementById("errorMessage");

    if (fileInput.files.length === 0) {
        errorMessageElement.innerHTML = "파일을 선택해주세요.";
        errorMessageElement.style.display = "block"; // 오류 메시지 표시
        return false; // 폼 전송 중지
    } else {
        errorMessageElement.style.display = "none"; // 오류 메시지 감춤
        return true; // 폼 전송 진행
    }
}
</script>
</html>