<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.10.2/dist/full.min.css" rel="stylesheet" type="text/css"/>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://kit.fontawesome.com/82aeaf01ca.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.5.0/sockjs.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.css"
          integrity="sha512-3pIirOrwegjM6erE5gPSwkUzO+3cTjpnV9lexlNZqvupR64iZBnOOTiiLPb9M36zpMScbmUNIcHUqKD47M719g=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"
            integrity="sha512-VEd+nq25CkR676O+pLBnDW09R7VQX9Mdiij052gVCp5yVH3jGtH70Ho/UUv4mJDsEdTvqRCFZg0NKGiojGnUCw=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <title>프로젝트 소셜미디어</title>
    <!--  메인 css  -->
    <link rel="stylesheet" href="/main/main.css">
    <!--  네비게이션바 상단 고정  -->
    <style>
        /* navbar를 상단에 고정시키는 CSS */
        .navbar-container {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            z-index: 9999;
        }
    </style>
</head>
<div class="navbar-container">
    <nav th:replace="~{./navbar/navbar :: navbarFragment}"></nav>
</div>
<body>
<main class="main">
    <section class="container">
        <article class="story-list">
            <div class="story-list__item" th:each="listDTO : ${listDTOS}"
                 th:with="listMain=${listDTO.listMain}, heart=${listDTO.heart}">
                <div class="sl__item__header bg-purple-100">
                    <div>
                        <a th:href="@{|/user/${listMain.author.id}/profile|}">
                            <!--                        <a th:href="${listMain.author.id == siteUser.id} ? @{/user/profile} : @{|/user/${listMain.author.id}/profile|}">-->
                            <img th:src="${listMain.author.profileUrl != null ? listMain.author.profileUrl : '/Default/User.jpg'}"
                                 style="border-radius: 50%;" class="flex w-full h-full">
                        </a>
                    </div>
                    <div th:if="${listMain.author != null}" th:text="${listMain.author.nickName}"
                         th:id="|list_${listMain.id}"></div>
                </div>
                <div class="sl__item__img">
                    <img th:src="${listMain.listUrl}" alt="">
                </div>
                <div class="flex w-[500ox] h-6 justify-start items-center ml-4 mb-2 mt-2"
                     style="position: relative;">
                    <label class="swap flex justify-start heart-switch w-[200px]">
                        <input type="checkbox" id="toggleHeart" data-list-id="${listMain != null ? listMain.id : ''}">
                        <form th:action="@{|/home/list/deleteLikes/${listMain.id}|}" name="heartOnForm" method="post">
                            <i th:if="${heart}" class="fas fa-heart" name="heartOn"></i>
                        </form>
                        <form th:action="@{|/home/list/createLikes/${listMain.id}|}" name="heartOffForm" method="post">
                            <i th:if="${!heart}" class="far fa-heart" name="heartOff"></i>
                        </form>
                        <div class="text-gray-400 ml-[3px]"
                             th:text="|${#lists.size(listMain.likes)}명이 좋아합니다.|"></div>
                    </label>
                    <div role="button" class="flex w-[300px]">
                        <a class="flex flex-row" th:href="@{|/home/detail/${listMain.id}|}">
                            <i class="fa-solid fa-comment-dots flex text-lg"></i>
                            <div class="text-gray-400 ml-[3px]"
                                 th:text="|${#lists.size(listMain.answerList)}개|"></div>
                        </a>
                    </div>
                </div>
                <div class="flex ml-4" style="font-weight: bold;">
                    <label>작성일: </label>
                    <div th:text="${#temporals.format(listMain.createDate, 'yyyy-MM-dd HH:mm')}"></div>
                </div>
                <br>
                <div class="sl__item__contents__content">
                    <div class="overflow-auto break-words h-[100px] mr-4 ml-4 mb-4" th:if="${listMain.author != null}"
                         th:text="${listMain.content}"></div>
                </div>
            </div>
        </article>
    </section>
</main>
<script>
    const heartOff = document.getElementsByName('heartOff');
    Array.from( heartOff).forEach(e=> e.addEventListener('click', () => {
         e.parentNode.submit();
    }));
    const heartOn = document.getElementsByName('heartOn');
    Array.from( heartOn).forEach(e=> e.addEventListener('click', () => {
        e.parentNode.submit();
    }));
</script>
</body>
</html>
