<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.10.2/dist/full.min.css" rel="stylesheet" type="text/css"/>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://kit.fontawesome.com/82aeaf01ca.js" crossorigin="anonymous"></script>
    <title>프로젝트 소셜미디어</title>
    <!--  메인 css  -->
    <link rel="stylesheet" href="/main/main.css">
    <!--  네비게이션바 상단 고정  -->
    <style>
        /* navbar를 상단에 고정시키는 CSS */
        .navbar-container {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            z-index: 9999;
        }
    </style>
</head>
<div class="navbar-container">
    <nav th:replace="~{./navbar/navbar :: navbarFragment}"></nav>
</div>
<body>
<main class="main">
    <section class="container">
        <article class="story-list">
            <div class="story-list__item" th:each="listMain : ${listMain}">
                <div class="sl__item__header bg-purple-100">
                    <div>
                        <img src="" alt="">
                    </div>
                    <div th:if="${listMain.author != null}" th:text="${listMain.author.nickName}"></div>
                </div>
                <div class="sl__item__img">
                    <img src="" alt="">
                </div>
                <div class="flex w-full h-6 justify-start items-center ml-4 mb-2 mt-2"
                       style="position: relative;">
                    <label class="swap flex justify-start heart-switch w-[200px]" id="heartSwitch">
                        <input type="checkbox" id="toggleHeart">
                        <i class="fas fa-heart" id="heartOn" style="display: none;"></i>
                        <i class="far fa-heart" id="heartOff"></i>
                    </label>
                    <div role="button" class="flex w-[300px]">
                        <a class="flex flex-row" th:href="@{|/home/detail/${listMain.id}|}">
                            <i class="fa-solid fa-comment-dots flex text-lg"></i>
                            <div class="text-gray-400" th:text="|${#lists.size(listMain.answerList)}개의 답변이 있습니다.|"></div>
                        </a>
                    </div>
                </div>
                <div class="flex ml-4" style="font-weight: bold;">
                    <label>작성일: </label>
                    <div th:text="${#temporals.format(listMain.createDate, 'yyyy-MM-dd HH:mm')}"></div>
                </div>
                <br>
                <div class="sl__item__contents__content">
                    <div class="overflow-auto break-words h-[100px] mr-4 ml-4 mb-4" th:if="${listMain.author != null}"
                         th:text="${listMain.content}"></div>
                </div>
            </div>
        </article>
    </section>
</main>
<script>
    const toggleHeart = document.getElementById('toggleHeart');
    const heartOn = document.getElementById('heartOn');
    const heartOff = document.getElementById('heartOff');

    toggleHeart.addEventListener('change', function() {
        if (this.checked) {
            heartOn.style.display = 'inline'; // on
            heartOff.style.display = 'none'; // off
        } else {
            heartOn.style.display = 'none'; // off
            heartOff.style.display = 'inline'; // on
        }
    });
</script>
</body>
</html>
