<html lang="en">
<head>
    <title>로그인</title>
    <link rel="stylesheet" href="/login/password.css">

</head>
<body>
<div class="col-6 w-2/5">
    <a href="/">
        <img src="/logo/logo.png" class="logo-icon">
    </a>
</div>
<div class="centered-content">
    <div class="section">
        <div class="container">
            <div class="row full-height justify-content-center">
                <div class="col-12 text-center align-self-center py-5">
                    <div class="section pb-5 pt-5 pt-sm-2 text-center">
                        <div class="card-3d-wrap mx-auto">
                            <div class="card-3d-wrapper">
                                <div class="card-front">
                                    <div class="center-wrap">
                                        <form th:action="@{/user/findPw}" method="post">
                                            <div class="section text-center">
                                                <h4 class="mb-4 pb-3">비밀번호 찾기</h4>
                                                <div class="form-group mt-2">
                                                    <input type="name" name="name" class="form-style"
                                                           placeholder="이름" id="name"
                                                           autocomplete="off">
                                                </div>
                                                <div class="form-group">
                                                    <input type="email" name="email" class="form-style"
                                                           placeholder="가입 이메일" id="email" autocomplete="off">
                                                </div>
                                                <div th:if="${param.error}" class="alert alert-danger">
                                                    사용자ID 또는 이메일을 확인해 주세요.
                                                </div>
                                                <button type="submit" class="btn mt-4">변경</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>